<!doctype html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <meta charset="UTF-8">
    <title>Admin Movie Index</title>
    <th:block id="css">
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"/>
    </th:block>
</head>
<body>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div id="main-content" class="content-wrapper" style="min-height: 494.4px;">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-4 col-6">

                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3><th:block th:text="${movies.size()}"></th:block> <span>/</span> <th:block th:text="${movieAll.size()}"></th:block>  </h3>
                                <p>Phim mới / Tổng số phim</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">Xem Thêm<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3><th:block th:text="${users.size()}"></th:block> <span>/</span> <th:block th:text="${userAll.size()}"></th:block>  </h3>
                                <p> Tài khoản mới / Tổng số tài khoản</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">Xem Thêm<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">

                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3><th:block th:text="${blogs.size()}"></th:block> <span>/</span> <th:block th:text="${blogAll.size()}"></th:block>  </h3>
                                <p>Blog mới / Tổng số blog</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">Xem Thêm<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

<!--                    <div class="col-lg-3 col-6">-->

<!--                        <div class="small-box bg-danger">-->
<!--                            <div class="inner">-->
<!--                                <h3>65</h3>-->
<!--                                <p>Unique Visitors</p>-->
<!--                            </div>-->
<!--                            <div class="icon">-->
<!--                                <i class="ion ion-pie-graph"></i>-->
<!--                            </div>-->
<!--                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>

            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-hover dashboard-table" >
                                  <div class="d-flex justify-content-between">
                                      <h6>Phim mới cập nhật</h6>
                                      <a class="mb-1" type="button">Xem tất Cả>></a>
                                  </div>
                                    <thead>
                                    <tr>
                                        <th>Tên phim</th>
                                        <th>Loại phim</th>
                                        <th>Thể loại</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="movie : ${movies}">
                                        <td th:text="${movie.title}"></td>
                                        <td th:text="${movie.movieType}"></td>
                                        <td>
                                        <span class="badge bg-info mr-1" th:each="genre : ${movie.getGenreList()}"
                                              th:text="${genre.name}"></span>
                                        </td>
                                        <td>
                                             <span class="badge" th:text="${movie.status ? 'Công khai' : 'Nháp'}"
                                                   th:classappend="${movie.status ? 'bg-success' : 'bg-secondary'}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-hover dashboard-table">
                                    <div class="d-flex justify-content-between">
                                        <h6>Danh sách tài khoản mới đăng ký</h6>
                                        <a class="mb-1" type="button">Xem tất Cả>></a>
                                    </div>
                                    <thead>
                                    <tr>
                                        <th>Tên tài khoản</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.email}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-hover dashboard-table" >
                                    <div class="d-flex justify-content-between">
                                        <h6>Danh sách blog mới</h6>
                                        <a class="mb-1" type="button">Xem tất Cả>></a>
                                    </div>
                                    <thead>
                                    <tr>
                                        <th>Tiêu đề blog</th>
                                        <th>Người tạo</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="blog : ${blogs}">
                                        <td th:text="${blog.title}"></td>
                                        <td th:text="${blog.user.name}"></td>
                                        <td th:text="${blog.status}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
<th:block id="js">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
             integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
             crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
            integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/admin-assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script>
        $('.dashboard-table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "pageLength": 5,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "order": []
        });
    </script>

</th:block>
</body>

</body>
</html>