


/* navbar */
.header{
    background-color:#F0F0F0;

}
.navbar-brand{
    width: 180px;
}
.search{
    border: 1px white;
    border-radius: 50px;
    background-color: white;
    margin-left: 5px;
    width: 500px;
}
/* style cho input */
.search input{
    border: none;
    background-color: white;
    font-size: 15px;
    border-radius: 50px;
}

.search input:focus {
    border: none;
    background-color: white;
    box-shadow: none;
    outline: none;
}
.search button:focus {
    border-radius: 50px;
    background-color: white;
    box-shadow: none;
    outline: none;
}
/* style login */
.login{
    font-size: 15px;
}


/*  Home */
.wrap-item{
    border: 1px solid;
    border-radius: 20px;
    height: 400px;
}
.wrap-item .item a{
    font-size: 18px;
}
.background-poster a img{
    object-fit: cover;
    border-radius: 10px;
    height: 500px;
}
/* Style Movie  */
.movie img{
    height: 350px;
}

/* Page-Movie By Type */

.poster-Movie{
    height: 350px;
}
.title-movie{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movie-item a img{
    height: 250px;
}
/* recomment movie */
.recomment-movie{
    border: 1px solid;
    border-radius: 5px;
}
.recomment-movie a img{
    object-fit: cover;
    height: 100px;

}

/* detail movie =----------*/
.poster-movie-detail{
    height: 400px;
}
.infomation-detail-movie{
    background-color: #F0F0F0;
    border-radius: 10px;
}
.play-movie a{
    border: 1px solid;
    border-radius: 5px;
    background-color: #E5E5E5;
}
.share{
    font-size: 18px;
}
.property-movie{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*  comment */

.input-comment input{
    border: none;
    height: 35px;
    border-radius: 50px;
    background-color: #E5E5E5;
}
.input-comment input:focus {
    border: none;
    background-color: #E5E5E5;
    box-shadow: none;
    outline: none;
}
.cancel-comment button{
    border: none;
    border-radius: 5px;
}
.avatar-user img{
    object-fit: cover;
    height: 40px;
    border-radius: 50%;
}
/* footer */
.footer{
    background-color: #E5E5E5;
}
/* tin tức ---------------- */
.featured-news a img-first-blog{
    object-fit: cover;
    height: 250px;
}
.image-news-list img{
    object-fit: cover;
    height: 80px;
}
.update-review a {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.delete-review a {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.rating {
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.rating .star {
    display: inline-block;
}

.rating .star:hover,
.rating .star.active {
    color: gold;
}
.modal-body input::placeholder {
    padding-left: 10px; /* Điều chỉnh khoảng cách từ đỉnh input */
}

.modal-body input{
    height: 100px;
    border-radius: 10px;
}


