<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import Font  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--    Notifycation-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
          integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Import Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/web/css/style1.css}">
    <title>Chi Tiết Phim</title>

</head>


<body>
<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container ">

            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <a class="navbar-brand" href="#">
                    <img th:src="@{/web/logo-web.webp}" alt="Ảnh Logo">
                </a>
                <div class="navbar-nav search">

                    <input class="w-100 ps-3" type="text" placeholder="Tìm Kiếm . . .">

                    <button class="button-search btn btn-outline-none"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div>
                    <a class="nav-link text-decoration-none text-reset login" href="">Đăng Nhập
                        <i class="fa-regular fa-user"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- List And Background Poster -->
<section class="list-background-poster pt-4 d-flex">
    <div class="container">
        <div class="row">
            <!-- list -->
            <div class="col-2">
                <div class="wrap-item w-100 ">
                    <ul class="list-unstyled ps-3 py-2">
                        <h5>Danh Mục</h5>
                        <li class="item ms-3 py-2">
                            <a class="text-decoration-none text-reset" th:href="@{/}">Trang Chủ</a>
                        </li>
                        <li class="item ms-3 py-2">
                            <a class="text-decoration-none text-reset" th:href="@{/phim-le}">Phim Lẻ</a>
                        </li>
                        <li class="item ms-3 py-2">
                            <a class="text-decoration-none text-reset" th:href="@{/series-movie}">Phim Dài tập</a>
                        </li>
                        <li class="item ms-3 py-2">
                            <a class="text-decoration-none text-reset" th:href="@{/phim-chieu-rap}">Phim Chiếu Rạp</a>
                        </li>
                        <li class="item ms-3 py-2">
                            <a class="text-decoration-none text-reset" href="">Thể Loại</a>
                        </li>
                        <li class="item ms-3 py-2">
                            <a class="text-decoration-none text-reset" href="">Quốc Gia</a>
                        </li>
                        <li class="item ms-3 py-2">
                            <a class="text-decoration-none text-reset" th:href="@{/tin-tuc}">Tin Tức</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- poster-movie-by-Type -->

            <div class="col-10">
                <div class="row">
                    <div class="col-4 px-4">
                        <img class="poster-movie-detail rounded overflow-hidden w-100" th:src="${movieDetail.poster}"
                             alt="">
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <h4 th:text="${movieDetail.title}"></h4>
                        </div>
                        <div class="infomation-detail-movie p-2">
                            <div class="row p-2">
                                <div class="col-3">Thể Loại</div>
                                <div class="col-8">
                                    <div class="property-movie w-100">
                                        <span><th:block th:text="${movieDetail.movieType.value}"></th:block></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-3">Năm sản Xuất</div>
                                <div class="col-8">
                                    <div class="property-movie w-100">
                                        <span><th:block th:text="${movieDetail.relishYear}"></th:block></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-3">Đạo Diễn</div>
                                <div class="col-8">
                                    <div class="property-movie w-100">
                                        <span th:each="director : ${movieDetail.directorList}"> <th:block
                                                th:text="${director.getName()}"></th:block>,
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-3">Diễn Viên</div>
                                <div class="col-8">
                                    <div class="property-movie w-100">
                                        <span th:each="actor : ${movieDetail.actorList}"> <th:block
                                                th:text="${actor.getName()}"></th:block>,</span>

                                    </div>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-3">Mô Tả</div>
                                <div class="col-8">
                                    <div class="property-movie w-100">
                                        <span><th:block th:text="${movieDetail.description}"></th:block></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row py-2">
                            <div class="ratting">
                                <span><i class="fa-regular fa-circle-user"></i></span>
                                <span th:text="${reviewList.size()}"></span>
                                <span>: Đánh Giá</span>
                                <div>
                                    <span> <th:block th:text="${movieDetail.rating}"></th:block> /10 <i
                                            class="fa-solid fa-star" style="color: #FFD43B;"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="d-flex justify-content-between">
                                <div class="play-movie pt-2 d-flex align-item-center">
                                    <a class="text-decoration-none text-reset px-4 py-1" href="">
                                        <i class="fa-solid fa-play ml-2"></i>
                                        <span>Xem Phim</span>
                                    </a>
                                </div>

                                <div class="share">
                                    <span>Chia sẻ :</span>
                                    <span>
                                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                                    </span>
                                    <span>
                                        <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    </span>
                                    <span>
                                        <a href=""><i class="fa-brands fa-telegram"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>


<!-- comment -->
<section class="comment-movie">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <div class="row">
                    <div class="d-flex justify-content-between ">
                        <h4>Bình Luận</h4>
                        <!--                        <a href="" class="text-decoration-none text-reset pt-1">Hiển thị tất cả bình luận</a>-->
                    </div>
                </div>
                <div class="row">
                    <!--                    <div class="input-comment px-3 pb-2">-->
                    <!--                        <label>-->
                    <!--                            <input class="w-100 rounded overflow-hidden my-2" type="text" placeholder="Viết bình luận . . . .">-->
                    <!--                        </label>-->
                    <!--                    </div>-->
                    <div id="exampleModals"  class="cancel-comment d-flex justify-content-end">
                        <!--                        <button style="background-color:#F0F0F0" type="button" class="mx-2">Hủy</button>-->
                        <!-- Button trigger modal -->
                        <button id="btn-modal-review" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            Viết đánh giá
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="rating d-flex justify-content-center">
                                        <span class="star px-1" data-rating="1">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="2">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="3">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="4">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="5">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="6">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="7">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="8">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="9">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                        <span class="star px-1" data-rating="10">
                                              <i class="fa-solid fa-star"></i>
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-center" id="rating-value"></div>
                                    <form id="form-review">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <textarea id="reviewContent" class="w-100 rounded overflow-hidden  my-2"
                                                          type="text" placeholder="Viết bình luận . . . ." name="content"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <!--                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>-->
                                            <button id="submitReview" type="button" class="btn btn-primary">Gửi Đánh Giá
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-list">
                </div>
                <div id="review-pagination" class="d-flex justify-content-center">

                </div>


            </div>
            <div class="col-3">
                <div class="row">
                    <h5 class="ms-2">Phim Đề Xuất</h5>
                </div>
                <div class="recomment-movie mb-5" th:each="movie: ${top3RatingMovie}">
                    <div class="row">
                        <a class="text-reset text-decoration-none d-flex"
                           th:href="@{/phim/{id}/{slug} (id=${movie.id},slug=${movie.slug}) }">
                            <div class="col-5">
                                <div class="image-movie ms-1 my-1 ">
                                    <img class="rounded overflow-hidden w-100" th:src="${movie.poster}" alt="">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="title-movie ms-2">
                                    <h6 th:text="${movie.title}"></h6>
                                    <span> <th:block th:text="${movie.rating}"></th:block><i class="fa-solid fa-star"
                                                                                             style="color: #FFD43B;"></i></span>
                                    <p>
                                        <th:block th:text="${movie.relishYear}"></th:block>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
                <div class="movieByType">
                    <div class="row">
                        <div class="d-flex justify-content-between">
                            <h5>Phim Nổi Bật</h5>
                            <a class="text-decoration-none text-reset" href="">Xem Thêm</a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-3" th:each="movie : ${featuredMovie}">
                            <div class="movie">
                                <a class="text-decoration-none text-reset" href="">
                                    <img class="rounded overflow-hidden w-100" th:src="${movie.poster}" alt="">
                                    <div class="infomation-movie pt-3">
                                        <p th:text="${movie.title}">></p>
                                        <p class="mb-6" th:text="${movie.relishYear}">></p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="logo-web">
                    <a th:href="@{/}">
                        <img th:src="@{/web/logo-web.webp}" alt="Ảnh Logo">
                    </a>
                </div>
                <div class="description-web">
                    <p>Motchill - Xem phim Online Vietsub chất lượng cao miễn phí, nhiều thể loại phim phong phú, đặc
                        sắc, giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ phim
                        mới.</p>
                </div>
            </div>


            <div class="col-2">
                <div class="selection d-flex justify-content-center">

                    <ul class="list-unstyled">
                        <h4>Thể Loại</h4>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Kinh Dị</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Hài</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Gia Đình</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Hành Động</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Phim Viễn Tưởng</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-2">
                <div class="selection d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <h4>Quốc Gia</h4>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Việt Nam</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Hàn Quốc</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Nhật Bản</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Trung Quốc</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Mỹ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="selection d-flex justify-content-center">

                    <ul class="list-unstyled">
                        <h4>Thông Tin</h4>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Giới Thiệu</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Liên Hệ </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Tin tức</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href=""> Điều Khoản </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-reset" href="">Khiếu Nại</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-2">
                <div class="selection ">
                    <h4>Social</h4>
                    <div class="">
                        <a href=""><i style="color: black;" class="mx-2 fa-brands fa-facebook-f"></i></a>
                        <a href=""><i style="color: black;" class="mx-2 fa-brands fa-telegram"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
        integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/web/js/notifycation.js}"></script>


<script th:inline="javascript">
    const movieId = [[${movieDetail}]];
    let reviewList = [[${reviewList}]];

    console.log(movieId, reviewList)

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


<script th:src="@{/web/js/main.js}"></script>


</body>
</html>